.row {
    margin-top: 20px;
}

video {
    width: 100%;
}

#loadingDiv {
    background-color: rgba(80,80,80, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

#loadingDiv>img {
    color: white;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}